{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nen Types</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <div class="header">
      <a href="/">back</a>
    </div>

    <ul class="liszt">
      <li id="enhance">
        <a href="/Enhancement/"><button>Enhancement</button></a>
      </li>
      <li id="emit">
        <a href="/Emission/"><button>Emission</button></a>
      </li>
      <li id="trans">
        <a href="/Transmutation/"><button>Transmutation</button></a>
      </li>
      <li id="manip">
        <a href="/Manipulation/"><button>Manipulation</button></a>
      </li>
      <li id="conjur">
        <a href="/Conjuration/"><button>Conjuration</button></a>
      </li>
      <li id="special">
        <a href="/Specialist/"><button>Specialist</button></a>
      </li>
    </ul>
  </body>
</html>
